/* color pallet: from colorkit.co
bg(dark): #161616
silver: #e2e2e2
goldish: #f0cf6b
bluish: #508796; darker: #2e515b
greenish: #9FFF64; darker: #014816;
red: #ff3e3e; darker: #0e2323
*/

.vr {
  display: flex;
  color: #161616;
  border-left: 1px solid;
}

.sdiv {
  text-align: center;
}

.cardcontainer {
  width: 85%;
  align-content: center;
  display: inline-flex;
}

.contactcard {
  width: 50%;
}

.tdiv {
  padding: 8px;
  margin: auto;
  width: 75%;
}

.tdl {
  text-align: left;
}

.tdr {
  text-align: right;
}

.sideNav {
  height: 100%;
  position: fixed;
  width: 250px;
  display: none;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e2e2e2;
  color: #161616;
  overflow-x: hidden;
  transition: 0.5s;
  border: 2px solid;
  border-color: #161616;
  border-radius: 6px;
}

.sideNav a {
  text-decoration: none;
  color: #161616;
  display: block;
  border: none;
  font-size: 20px;
  padding: 4px 0 0 24px;
}

.sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

hr {
  width: 80%;
}

body {
  background-color: #e2e2e2;
  color: #161616;
}

a, a:visited, a:hover, a:active {
  color: #508796;
}

h2 {
  margin-top: 16px;
  margin-bottom: 6px;
}

button {
  color: #e2e2e2;
  background-color: #161616;
  border: 2px solid #161616;
  border-radius: 6px;
}

button:hover {
  color: #161616;
  background-color: #e2e2e2;
  border: 2px solid #161616;
  border-radius: 6px;
}

@media screen and (max-height: 450px) {
  .sideNav a { font-size: 16px }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #161616;
    color: #e2e2e2;
  }

  a {
    color: #ff3e3e;
  }

  a:visited {
    color: #9e2323
  }

  a:hover, a:active {
    color: #ff3e3e;
  }

  button {
    color: #161616;
    background-color: #e2e2e2;
    border: 2px solid #e2e2e2;
    border-radius: 6px;
  }

  button:hover {
    color: #e2e2e2;
    background-color: #161616;
    border: 2px solid #e2e2e2;
    border-radius: 6px;
  }

  .vr {
    color: #e2e2e2;
  }

  .sideNav {
    background-color: #161616;
    color: #e2e2e2;
    border-color: #e2e2e2;
  }

  .sideNav a {
    color: #e2e2e2;
  }

  .sideNav a:visited {
    color: #e2e2e2;
  }
}
