/* color pallet: from colorkit.co
bg(dark): #161616
silver: #e2e2e2
goldish: #f0cf6b
bluish: #508796; darker: #2e515b
greenish: #9FFF64
red: #ff3e3e; darker: #0e2323
*/

.sdiv {
  text-align: center;
}

.tdiv {
  padding: 8px;
  margin: auto;
  width: 75%;
}

.tdl {
  text-align: left;
}

.tdr {
  text-align: right;
}

hr {
  width: 80%;
}

body {
  background-color: #e2e2e2;
  color: #161616;
}

a:link {
  color: #508796;
}

a:visited {
  color: #2e515b
}

h2 {
  margin-top: 16px;
  margin-bottom: 6px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #161616;
    color: #e2e2e2;
  }

  a:link {
    color: #ff3e3e;
  }

  a:visited {
    color: #0e2323;
  }
}
